Django==4.1.2
djangorestframework==3.12.4
django-filter==21.1
django-autoslug==1.9.8
django-countries==7.2.1
Pillow==8.3.2
django-phonenumber-field==5.2.0
phonenumbers==8.12.13
psycopg2-binary==2.9.1
flake8==3.9.2
black==21.6b0
isort==5.9.3
django-environ==0.9.0
djoser==2.1.0
django-cors-headers==3.13.0
djangorestframework-simplejwt==4.8.0
PyJWT==2.1.0
django-admin-interface==0.20.0
django-jsonfield~=1.4.1
jsoneditor
django-parler~=2.3
textract~=1.6.5
redis==4.2.0
celery==4.4.7
channels==4.0.0
channels-redis==4.0.0
django-storages==1.13.1